/* abel */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Nunito:wght@200;300;400&display=swap");
/* @font-face {
  font-family: "eurostile";
  src: url(../fonts/eurostile-font/EuroStyle\ Normal.ttf);
}
@font-face {
  font-family: "eurostile-oblique";
  src: url(../fonts/eurostile-font/EurostileOblique.ttf);
}
@font-face {
  font-family: "eurostile-extended";
  src: url(../fonts/eurostile-font/EurostileExtended.ttf);
} */

*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* COLORS  */
  /* primary */
  --primary: #87cefa;
  --primary-200: #6fc4f9;
  --primary-400: #31abf6;
  /* gray */
  --gray-0: #fafbfc;
  --gray-50: #f2f4f8;
  --gray-100: #eaedf3;
  --gray-200: #e2e7ef;
  --gray-300: #dbe0ea;
  --gray-400: #d3dae6;
  --gray-500: #cbd3e1;
  --gray-600: #adb3bf;
  --gray-700: #8e949e;
  --gray-800: #70747c;
  --gray-900: #51545a;
  --gray-1000: #333538;
  --gray-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;

  --pink: #ffa7b6;
  --purple: #8565c4;
  --green: #2ed69c;
  --red: #ff4d4d;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Abel", sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-0);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --border-lighter: var(--gray-100);
  --border-light: var(--gray-300);

  /* nav layouts */
  --nav-width-medium: 180px;
  --nav-width-large: 250px;
}
html {
  font-size: var(--defaultFontSize);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}
body {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #safari {
    background-color: rgb(212, 0, 0);
  }
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.form {
  width: 100%;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

input,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-0);
  border-color: transparent;
  border: 1px solid var(--grey-300);
}
.form-row {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  height: 7rem;
}

::placeholder {
  color: var(--grey-600);
}
.form-alert {
  color: var(--red-dark);
  font-size: var(--extraSmallText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
hr {
  border-top: var(--line);
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--white);
  background: var(--primary-500);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
}
button:hover,
.btn:hover {
  color: var(--gray-500);
  background: var(--primary);
  box-shadow: var(--shadow-2);
}
button.small {
  padding: 0.25rem 0.5rem;
  font-size: var(--smallText);
}
button.hipster {
  color: var(--primary-500);
  background: var(--primary-50);
  box-shadow: var(--shadow-1);
}
button.hipster:hover {
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
}
button.block {
  width: 100%;
}

/* Basic Classes */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-success {
  color: var(--green-dark);
  background-color: var(--green-light);
}
.alert-danger {
  color: var(--red-dark);
  background-color: var(--red-light);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title-underline {
  height: 0.2rem;
  width: 7rem;
  background: var(--primary-600);
  margin: 0 auto;
}

form > *:last-child {
  margin-bottom: 0;
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* form loading */

.form-loading {
  position: relative;
}
.form-loading::before {
  background: var(--white);
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: var(--borderRadius);
  opacity: 0.8;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.form-loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.page {
  /* overflow: auto; */
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.page-desktop {
  padding-top: 2rem;
}

@media screen and (min-width: 992px) {
  .page {
    width: calc(100vw - var(--nav-width-medium));
    margin-left: calc(var(--nav-width-medium));
  }
}
@media screen and (min-width: 1200px) {
  .page {
    width: calc(100% - var(--nav-width-large));
    margin-left: calc(var(--nav-width-large));
  }
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Components */
/*#########*/

/*#########*/
/* Layout */
/*#########*/
.layout {
  position: fixed;
  top: 0;
}

@media screen and (min-width: 992px) {
  .layout {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

/*#########*/
/* Navbar */
/*#########*/

.burger {
  position: fixed;
  z-index: 100;
  top: 1px;
  left: 5px;

  color: var(--primary);

  font-size: 2rem;
}
@media screen and (min-width: 576px) {
  .burger {
    top: 5px;
    left: 10px;
  }
}

.navbar {
  position: fixed !important;
  z-index: 20;
  transform: translateX(-100%);

  width: 60vw;
  border-right: 1px solid var(--border-light);

  background: var(--white);

  transition: var(--transition);
}
.show-links {
  transform: translateX(0%);
}
.navbar-center {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 98vh;
  width: 100%;
}

.nav-header a {
  text-decoration: none;
}

.nav-header .logo {
  padding-top: 0;
}
.nav-header .logo .logo-symbol,
.nav-header .logo .logo-text {
  display: flex !important;
}

.nav-links {
  margin-top: 1rem;
}
.nav-links a {
  width: 100%;
  border-top: 1px solid var(--border-lighter);

  text-align: center;
  text-transform: capitalize;

  transition: var(--transition);
}
.nav-links a h3 {
  padding: 22px 0px;
  margin: 0;

  color: var(--gray-800);
  font-family: var(--bodyFont);
}
.nav-links a:hover {
  background: var(--gray-50);
  color: var(--gray-1000);
}
.active-link h3 {
  color: var(--gray-1100) !important;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }
  .navbar {
    position: relative;
    transform: translateX(0%);
    width: var(--nav-width-medium);
  }
  .nav-links a h3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    width: var(--nav-width-large);
  }
  .nav-links a h3 {
    font-size: 1.2rem;
  }
}

/*#########*/
/* Logo */
/*#########*/

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 0.5rem;

  font-family: sans-serif;
  color: var(--gray-1100);
}
.logo-symbol {
  height: 35px;
  font-size: 2rem;
}
.logo-text {
  font-size: 0.9rem;
  white-space: nowrap;
}

@media screen and (min-width: 576px) {
  .logo-symbol {
    height: 38px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 2rem;
  }
  .logo-symbol,
  .logo-text {
    display: none;
  }
}

/*#########*/
/* Carousel */
/*#########*/
.carousel-container {
  display: flex;
  justify-content: center;
}
.carousel {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .carousel {
    width: 85%;
  }
}

/*#########*/
/* Image Layout */
/*#########*/

.image-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem 0.5rem;
}
.image-layout .col-1,
.image-layout .col-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0rem;
  padding-top: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .image-layout {
    grid-template-columns: 1fr 1fr;
  }
}

/*#########*/
/* Social Links */
/*#########*/

.social-links {
  display: grid;
  margin: 0 auto;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.social-links .link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: var(--transition);
}
.social-links .instagram {
  color: var(--purple);
}
.social-links .twitter {
  color: var(--primary);
}
.social-links .linkedin {
  color: var(--primary-400);
}
.social-links .github {
  color: var(--pink);
}
.social-links .discord {
  color: var(--green);
}

.social-links .discord .status {
  position: absolute;

  display: none;
  align-items: center;
  bottom: -15px;
  padding: 0 0.2rem;

  font-size: 0.7rem;
  color: var(--green-dark);
}
.social-links .discord .status span {
  margin-right: 0.2rem;
}
.social-links .discord .status.show {
  display: flex;
}

.social-links .buymeacoffee {
  color: var(--red);
}

@media screen and (min-width: 321px) {
  .social-links {
    gap: 1.7rem;
  }
  .social-links .link {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 576px) {
  .social-links {
    gap: 1rem 1.5rem;
  }
  .social-links .link {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .social-links {
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
  }
}

/*#########*/
/* Home */
/*#########*/

/*#########*/
/* Desktop Home */
/*#########*/

.home-carousel {
  margin-top: 2rem;
}

.home-desktop-container {
  margin: 0 auto;
  width: 90vw;
}

@media screen and (min-width: 992px) {
  .home-desktop-container {
    margin: 0 auto;
    width: 80%;
  }
}

/*#########*/
/* Mobile Home */
/*#########*/

.mobile-hero {
  position: relative;
  width: 100vw;
}
.mobile-hero .hero-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
.mobile-hero .hero-content {
  margin-bottom: 100px;
}
.mobile-hero .hero-title {
  color: var(--white);
  font-size: 4rem;
  font-weight: bolder;
}
.mobile-hero .hero-subtitle {
  color: var(--gray-50);
  font-size: 2.3rem;
}
.mobile-hero button {
  margin-top: 70px;
  background: var(--white);
  font-size: 1.4rem;
  font-weight: bolder;
}

/*#########*/
/* 404 Page */
/*#########*/
.error-page h1 {
  margin: 0;
  padding: 0;
  padding-top: 5rem;

  color: var(--gray-1000);
  font-size: 10rem;
}
.error-page h2 {
  margin-top: -20px;
  color: var(--gray-900);
  font-size: 2.7rem;
  font-weight: bolder;
}
.error-page h2,
.error-page p {
  font-family: Nunito, sans-serif;
}
.error-page p {
  margin-top: 2rem;
  color: var(--gray-800);
}
.error-page p a {
  color: var(--primary-400);
  font-weight: bolder;
}
.error-page button {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background: var(--primary-400);
}

/*#########*/
/* Portfolio */
/*#########*/

.portfolios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 90%;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.portfolio {
  position: relative;
}
.portfolio-page h1 {
  padding-top: 1rem;
  font-size: 2.6rem;
}

.portfolio-title-container {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 333px;
  width: 100%;

  background: rgba(0, 0, 0, 0.6);

  text-decoration: none;
  transition: var(--transition);
}
.portofolio-img {
  max-height: 333px;
}
.portfolio-title {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px #000000;
  transition: var(--transition);
}

.portfolio-title-container:hover {
  background: rgba(0, 0, 0, 0.01);
}
.portfolio-title-container:hover > .portfolio-title {
  text-shadow: none;
  opacity: 0.5;
}

@media screen and (min-width: 376px) {
  .portfolio-title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 426px) {
  .portfolio-title-container {
    background: rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 992px) {
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .portfolios {
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }
  .portfolio-title {
    font-size: 4.5rem;
  }
}

/*#########*/
/* Portfolio Page */
/*#########*/
.portfolio-page {
  padding: 2rem 0rem;
}
.portfolio-section {
  margin: 0 auto;
  width: calc(100% - 1rem);
  max-width: 1230px;
}
.portfolio-page .title {
  margin: 0 auto;
  max-width: 1230px;
}
.portfolio-page .title,
.portfolio-page .title h1 {
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
}

@media only screen and (min-width: 576px) {
  .portfolio-section {
    width: 80%;
  }
  .portfolio-page .title {
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-page .title {
    position: relative;
  }
}
@media screen and (min-width: 1000px) {
  .portfolio-section {
    margin: 0 auto;
    width: calc(100% - 1rem);
  }
  .portfolio-page .title {
    width: calc(100% - 2rem);
  }
}

/*#########*/
/* Experiences */
/*#########*/
.experiences-page {
  padding-bottom: 4rem;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 98%;
  margin: 0 auto;
}
.experience {
  position: relative;
}
.experience-img {
  height: 450px;
  max-height: 450px;
}
.experience-content {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.experience-btn {
  border: 2px solid var(--white);
  background: none;
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.experience-btn:hover {
  background: var(--white);
  color: var(--primary);
}

/*#########*/
/* Experience Page */
/*#########*/
.experience-page {
  position: relative;
}
.experience-page .info {
  max-width: 1230px;
  width: 95%;
  margin: 0 auto;
  font-family: Nunito, sans-serif;
}
.experience-page .info .title {
  margin: 0;
}
@media screen and (min-width: 992px) {
  .experience-page .info .title {
    position: relative;
  }
}
.experience-page .info h1 {
  margin: 0;
  font-family: var(--headingFont);
}
.experience-page .info .image {
  margin: 1rem 0;
}
.experience-page .info .description {
  margin: 0 auto;
  width: 95%;
}

.experience-section {
  padding-bottom: 4rem;
  width: calc(100% - 1rem);
  max-width: 1230px;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .experience-section {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .experience-section {
    width: calc(100% - 1rem);
  }
}

/*#########*/
/* All Photos */
/*#########*/

.all-photos {
  padding-bottom: 4rem;
  width: calc(100% - 1rem);
  max-width: 1230px;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .all-photos {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .all-photos {
    width: calc(100% - 1rem);
  }
}

/*#########*/
/* About */
/*#########*/
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}
.about-header-img {
  height: 25vh;
}
.about-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 3rem;
}
.about-page p,
.about-contact p {
  padding-top: 1rem;
  width: 95%;
  margin: 0 auto;
  color: var(--gray-900);
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.6px;
  line-height: 1.7;
}
.about-page p a {
  color: var(--primary-400);
}

.about-contact {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 10rem;
  margin: 0 auto;
}

.about-page-contact-btn {
  position: relative;
  z-index: 1;

  height: 50px;
  width: 180px;
  border: none;
  border-radius: 4px;
  margin-top: 0.8rem;

  color: rgb(54, 54, 54);
  background: none;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  text-align: center;

  transition: ease-out 0.3s;
  outline: none;
}
.about-page-contact-btn-border {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #ffc0cb, #b19cd9, #abd7eb);
  border-image-slice: 1;
}
.about-page-contact-btn:hover {
  color: #fff;
  background: none;
  cursor: pointer;
}
.about-page-contact-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;

  content: "";
  background: linear-gradient(45deg, #ffc0cb, #b19cd9, #abd7eb);
  transition: 0.5s all ease;
  opacity: 0;
}
.about-page-contact-btn:hover:before {
  z-index: -1;
  left: 0;
  right: 0;
  transition: 0.5s all ease;
  opacity: 1;
}
.about-links {
  margin-top: 1.3rem;
}
.about-links a svg {
  margin: 0 0.8rem;
  font-size: 3.2rem;
  transition: var(--transition);
}
.about-links a svg:hover {
  opacity: 0.7;
}
.about-links .instagram {
  color: var(--purple);
}
.about-links .github {
  color: var(--pink);
}
.about-links .linkedin {
  color: var(--primary-200);
}

@media screen and (min-width: 426px) {
  .about-page p,
  .about-contact p {
    text-align: center;
  }
  .about-links {
    margin-top: 1rem;
  }
  .about-links a svg {
    margin: 0 0.4rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .about-page p,
  .about-contact p {
    width: 90%;
    padding-top: 0.5rem;
    font-size: 1rem;
  }
  .about-page,
  .about-contact {
    width: 90%;
  }
  .about-links {
    margin-top: 0.5rem;
  }
  .about-links a svg {
    margin: 0 0.7rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-page,
  .about-contact {
    width: 80%;
  }
}
@media screen and (min-width: 1550px) {
  .about-page,
  .about-contact {
    width: 70%;
  }
}

/*#########*/
/* Contact */
/*#########*/

.contact-page {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  gap: 2rem;
  margin: 0 auto;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  border-bottom: 1px solid var(--gray-200);
  margin-bottom: 4rem;
  white-space: nowrap;
}
.contact-text-container h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
.contact-text-container p {
  padding-bottom: 0.8rem;
  margin: 0;
  color: var(--gray-900);
  font-family: Europa, sans-serif;
  font-size: 0.9rem;
}

@media screen and (min-width: 992px) {
  .contact-text-container,
  .contact-form-container {
    padding-top: 4rem;
    margin-top: 4rem;
  }
  .contact-text-container {
    border: none;
    border-right: 1px solid var(--gray-200);
    padding-right: 2rem;
    padding-bottom: 4rem;
  }
  .contact-page {
    grid-template-columns: 1fr 2fr;
  }
}

/* Form */
#contact-form {
  text-align: left;
}

#contact-form label {
  width: 100%;
  padding-bottom: 0 !important;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
#contact-form input {
  height: 40px;
}
#contact-form input,
#contact-form textarea {
  border: 1px solid var(--gray-400);
  border-radius: 1px;
  width: 100%;
  color: var(--gray-1000);
  font-family: Europa, sans-serif;
  font-size: 1rem;
}
#contact-form .name-fields {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border: 2px solid var(--primary-400);
  outline: none;
}
#contact-form input:valid,
#contact-form textarea:valid {
  border: 2px solid var(--primary-400);
  outline: none;
}

#contact-form button {
  display: flex;
  padding: 0.5rem 1.2rem;
  margin: 0 auto;
  margin-top: 0.6rem;
  background: var(--gray-1000);
}
@media screen and (min-width: 426px) {
  #contact-form .name-fields {
    flex-direction: row;
  }
  #contact-form .name-fields div {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  #contact-form button {
    display: flex;
    margin: 0;
    margin-top: 0.6rem;
  }
}

/*#########*/
/* Image Page */
/*#########*/

.image-page {
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-1100);
}

.image-page .close,
.image-page .info {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
  font-size: 2.3rem;
  cursor: pointer;
}
.image-page .close {
  top: 5px;
  right: 10px;
}
.image-page .info {
  right: 15px;
  bottom: 15px;
}
.image-container {
  position: relative;
}
.image-page .image {
  max-height: 98vh;
  max-width: 98vw;
}
.image-page .nav-buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image-page .nav-buttons .link {
  z-index: 5;
  display: flex;
  align-items: center;
  height: 80vh;
  width: 25vw;
  padding: 0 1.5rem;

  color: rgba(255, 255, 255, 0.2);
  font-size: 4rem;
  transition: var(--transition);
  cursor: pointer;
}
.image-page .nav-buttons .link:hover {
  color: rgba(255, 255, 255, 1);
}
.image-page .nav-buttons .prev {
  justify-content: flex-start;
}
.image-page .nav-buttons .next {
  justify-content: flex-end;
}

@media screen and (min-width: 576px) {
  .image-page .image {
    max-height: 95vh;
    max-width: 90vw;
  }
}

@media screen and (min-width: 1200px) {
  .image-page .image {
    max-height: 98vh;
    max-width: 90vw;
  }
}

.image-info {
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 4rem;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;
  width: 98vw;
  padding: 2rem;
  margin: 0 auto;

  background: rgba(0, 0, 0, 0.01);
  color: var(--white);
  opacity: 0;

  font-family: Nunito, sans-serif;
  transition: var(--transition);
}
.image-info .close-info {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  font-size: 2.2rem;
  cursor: pointer;
}
.image-info .title {
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;

  font-family: Nunito, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
.image-info .description {
  padding-bottom: 1rem;
  color: var(--gray-50);
  font-size: 0.9rem;
}
.image-info .data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-page .image-info.show {
  transform: translateX(0%) !important;
  background: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

@media screen and (min-width: 426px) {
  .image-info {
    right: 35px;
    width: 400px;
    margin: 0;
  }
  .image-info .close-info {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.image-info .data div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.image-info label {
  padding: 0;
  margin: 0;
  color: var(--gray-200);
  font-size: 0.75rem;
}
.image-info .data span {
  color: var(--gray-50);
  font-size: 0.9rem;
}

/*#########*/
/* Other Styles */
/*#########*/
.divider {
  height: 1px;
  width: 100%;
  margin: 2.5rem auto;
  background: var(--gray-500);
}
.underline {
  height: 2px;
  width: 90%;
  margin-bottom: 0.6rem;
  background: var(--primary);
}

.background-blur {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.dark-tooltip {
  text-transform: capitalize;
}

.backarrow {
  position: absolute;
  top: 1px;
  right: 10px;

  height: 48px;
  font-size: 3rem;
  cursor: pointer;
  color: var(--gray-1100);
}

@media screen and (min-width: 426px) {
  .backarrow {
    right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .backarrow {
    top: 0;
    left: 0;
  }
}
